*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
header{
    width: 100vw;
    height: 64px;
    display: inline-flex;
}
#sneak{
    width: 200px;
}
#menu{
    width: 885px;
    text-align: center;
}
li {
    list-style: none;
    display: inline-block;
}
#secao1{
    display: inline-flex;
    width: 1404px;
    height: 590px;
}
.primeira{
    width: 454px;

}
.segunda{
    width: 933px;
}
#procurar{
    width: 300px;
    text-align: -webkit-right;
}
.corra {
    background-image: url("./img/aside.png");
    width: 1600px;
    height: 722px;
}
#secao2{
    background-color: #F3F3F3;
    text-align: center;
    width: 1433px;
    height: 424px;
    margin: 5px;
}
